body{
  background-color: #f0f0f0 !important;
}


.fullscreen{ display:none; }

#zone-content-wrapper.zone-content-wrapper{
  padding: 0 20px;
}
#zone-content.container-12{
  width: 100%;
}

.view-information-window{
  background: white;
  box-shadow: inset 0 2px 6px #ccc;
  overflow-y: scroll;
  height: 600px;
  border: 1px solid #ccc;
}


.placard-body{
  letter-spacing: 0.009rem;
}

.form-item-field-placard-location-und-0-country,
.form-item-field-placard-orientation-und-0-country {
  display: none;
}
.location-field-continer {
  padding: 0 13px 13px 15px;
  border: 1px solid #ccc;
  position: relative;
  margin: 1em 0;
}
#edit-field-placard-location-und-0,
#edit-field-starting-location-und-0 {
  border: none;
}
fieldset#edit-field-placard-location-und-0 .fieldset-legend,
fieldset#edit-field-placard-location-und-0 .fieldset-wrapper {
  padding-left: 0;
}
fieldset#edit-field-placard-location-und-0 .location-current-coordinates-fieldset {
 padding: 15px;
}
.form-item-field-elevation-und-0-value label,
.form-item-field-layer-und-0-value label {
  display: block;
  float: left;
  text-align: left;
  width: 10em;
  padding-right: 10px;
}
.form-item-field-elevation-und-0-value input[type="text"],
#edit-field-layer-und-0-value {
  display: block;
  width: 25em;
  margin-bottom: 5px;
}
.form-item-field-elevation-und-0-value.form-item div.description {
  margin-left: 130px;
}
.world-window-container.split-screen {
  width: 50%;
}
.information-window-container.split-screen{
  width: 47.5%;
}
.information-window-container {
  display: inline-block;
  float: left;
  position: relative;
  top: 0;
}
.world-window-container {
  width: 50%;
  min-height: 590px;
  display: inline-block;
  float: left;
  /* margin-right: 0.5%; */
  background: #fff;
  border-right: 2px solid #ddd;
  margin-bottom: 1rem;
}
.world-window-container.ui-resizable.split-screen::after{
  content: '';
  width: 0.1rem;
  height: 5rem;
  border-left: 4px double #aaa;
  position: absolute;
  right: -0.54rem;
  top: 250px;
}
.world-window-container.world-window-fullscreen {
  width: 100%;
}
.information-window-container.world-window-fullscreen {
  display: none;
}

.world-window-container.information-window-fullscreen {
  position: absolute;
  z-index: -1000;
}
.information-window-container.information-window-fullscreen {
  width: 100%;
}

/* Information window */
.information-window-container {
  background: #f2f2f2;
}
.information-window-container .tour-row-item {
  background: #eee;
  padding: 4px 25px 6px;
  margin-bottom: 0;
  background:#999;
  border-bottom: 1px solid #ddd;
}
.information-window-container .tour-row-item:first-of-type{
  border-top: 1px solid #c0c0c0;
  box-shadow: inset 0 2px 6px #808080;
}
.information-window-container .tour-row-item h3 {
  width: 80%;
  display: inline-block;
  margin: 0;
}
.information-window-container .tour-row-item .placard-list-btn {
  float: right;
  text-indent: -999em;
  display: block;
  width: 15px;
  background: url(images/dropdown-arrow-down.png) no-repeat;
  background-size: 100%;
  margin-top: 10px;
}
.information-window-container h3 a {
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0 2px #444;
  background: transparent;
}
.information-window-container .side-bar-action-container {
  background: #777;
  padding: 0;
  margin-bottom: 0;
  overflow: hidden;
  height: 2.3rem;
}
.information-window-container .placard-list {
  list-style-type:none;
}
.information-window-container .placard-list .placard-image img{
  width: 100%;
  margin-left:1rem;
  margin-bottom:.5rem;
}
.information-window-container .side-bar-action-container .information-window-size-option {
  overflow: hidden;
  height: 47px;
  
  display: inline-block;
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  height: 1.4rem;
}
.information-window-container .side-bar-action-container .environment-title {
  display: inline-block;
  line-height: 100%;
  margin: 0;
  width: 80%;
  float: left;
}
/*.information-window-container .side-bar-action-container .information-window-size-option .show-full-information-window-btn,*/
.information-window-container .side-bar-action-container .information-window-size-option .show-full-information-window-btn,
.information-window-container .side-bar-action-container .information-window-size-option .show-split-screen-information-window-btn {
  background: url(images/full-screen.png) no-repeat;
  text-indent: -9999em;
  display: inline-block;
  width: 45px;
  height: 21px;
  position: relative;
  top: -0.2rem;
  right: -1.25rem;
  float: right;
}

.information-window-container.split-screen .side-bar-action-container .information-window-size-option .show-split-screen-information-window-btn {
  display: none;
}

.information-window-container.split-screen .side-bar-action-container .information-window-size-option .show-full-information-window-btn {
  background: url(images/full-screen.png) no-repeat;
  display: inline-block;
}
.information-window-container .view-information-window .placard-list {
  padding: 7px 0 50px;
  display: none;
  margin: 0 0.8rem
}
.information-window-container .view-information-window .placard-list li {
  margin-left: 0;
}
.information-window-container .view-information-window .placard-info {
  display: none;
  padding: 5px 25px 5px 30px;
}
.information-window-container .view-information-window .placard-info .placard-image {
  text-align: center;
  /*margin-bottom: 5px;*/
}
.information-window-container .view-information-window .placard-info .placard-image img.spread {
  width: 100% !important;
  height: auto !important;
}
.information-window-container .view-information-window .views-field-title-1 {
  padding: 7px 25px 5px 8px;
  cursor: pointer;
  border-top: 1px solid #ccc;
  display: block;
}
.information-window-container .view-information-window .views-field-title-1 a {
  text-decoration: none;
  color: #777;
  display: block;
  font-size: 1.18em;
  /*font-family: palatino, 'Palatino Linotype', georgia, serif;*/
  letter-spacing: 0.03rem;
  font-weight: bold;
  text-transform: uppercase;
}

.information-window-container .view-information-window .views-field-title-1 a::before{
  width: 0.7em;
  height: 0.7em;
  /* border-radius: 50%; */
  display: inline-block;
  margin-right: 0.6rem;
  border: 1px solid #aaa;
  /*box-shadow: 0 0 0.2rem #d0d0d0;*/
  content: '';
  position: relative;
  top: 0.05rem;
  background: transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
.information-window-container .view-information-window .views-field-title-1 a:hover::before{
  background:#999;
  border-color: #999;
  box-shadow:none;
}
.information-window-container .view-information-window .views-field-title-1 a:active::before{
  background:#777;
}

.information-window-container .view-information-window .placard-list li:first-child .views-field-title-1 {
  border: none;
} 
.placard-dropdown-list {
  padding: 0.4rem 0 0.5rem;
  list-style: none;
  display: none;
  position: absolute;
  right: 0.25rem;
  background: #909090;
  width: 48%;
  z-index: 9999;
  box-shadow: 0 5px 10px #c0c0c0;
  box-shadow: 0 5px 10px rgba(50, 50, 50, 0.4);
  border-radius: 0 0 8px 8px;
  border: 1px solid #CCC;
  border-top: none;
}
.placard-dropdown-list {
  width: 81%;
  text-align: center;
}
.placard-dropdown-list li {
  padding: 7px 20px 7px 17px;
  background: #909090;
  border-top: 1px solid transparent;
  border-bottom:1px solid transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
.placard-dropdown-list li:hover{
  background: #777;
  border-color: #999;
}
.placard-dropdown-list li:last-of-type a{
  border-radius: 0;
}
.placard-dropdown-list li a {
  text-decoration: none;
  display: block;
  font-size: 1.06em;
  line-height: 1.12em;
  color: #fff;
  font-weight:bold;
  text-shadow: 0 0 2px #555;
  text-transform: uppercase;
  letter-spacing: 0.035rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.placard-dropdown-list li a:hover{
  color: #fff;
}
.information-window-container .placard-title-dropdown-container .placard-dropdown-list li a::before{
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.7rem;
  border: 1px solid #ddd;
  content: '';
  position: relative;
  top: 0.055rem;
  background: transparent;
  -webkit-transition: all .05s ease-in-out;
  transition: all .05s ease-in-out;
}
.information-window-container .placard-title-dropdown-container .placard-dropdown-list li:hover a::before{
  /* background:#e0e0e0; */
  border-color:#eee;
}
.information-window-container .placard-title-dropdown-container .placard-dropdown-list li:active a::before{
  background:#ddd;
}

/* World window */
.world-window-container .top-info {
  padding: 4px 10px;
  color: #444;
  font-size: 120%;
  height:29px;
}
.world-window-container .top-info .tour-title,
.world-window-container .top-info .placard-title-dropdown-container {
  display: inline-block;
  float: left;
}
.world-window-container .top-info .placard-title-dropdown-container {
  width: 90%;
  position: relative;
  top: 0.1rem;
}
.world-window-container .top-info .placard-title-dropdown-container .placard-title {
  text-align: center;
  width: 81%;
  padding-right: 1%;
  display: inline-block;
  line-height: 1.88em;
  padding-left: 2%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /*font-family: palatino, 'Palatino Linotype', georgia, serif;*/
  letter-spacing: 0.03rem;
  font-size: 1.25em;
}
.world-window-container .top-info .tour-title {
  width: 5%;
  color:transparent;
}
.world-window-container .top-info .placard-title-dropdown-container .prev-link-container {
  float: left;
}
.world-window-container .top-info .placard-title-dropdown-container .next-link-container {
  float: right;
}
.world-window-container .top-info .placard-title-dropdown-container .prev-link-container a,
.world-window-container .top-info .placard-title-dropdown-container .next-link-container a {
  text-indent: -9999em;
  width: 33px;
  height: 22px;
  display: none;
  margin-top: .3rem;
  opacity: 0.35;
}
.world-window-container .top-info .placard-title-dropdown-container .prev-link-container a:hover,
.world-window-container .top-info .placard-title-dropdown-container .next-link-container a:hover{
  opacity: 0.55;
}
.world-window-container .top-info .placard-title-dropdown-container .prev-link-container a {
  background: url(images/prev-placard-alt.png) no-repeat;
}
.world-window-container .top-info .placard-title-dropdown-container .next-link-container a {
  background: url(images/next-placard-alt.png) no-repeat;
}

.world-window-container .top-info .world-window-size-option {
  width: auto;
  display: inline-block;
  position: relative;
  width: 26px;
  height: 27px;
  float:right;
}

.world-window-container .top-info .world-window-size-option .show-split-screen-world-window-btn,
.world-window-container.split-screen .top-info .world-window-size-option .show-full-world-window-btn {
  background: url(images/full-screen-alt.png) no-repeat;
  text-indent: -9999em;
  display: inline-block !important;
  width: 26px;
  height: 27px;
  opacity: 0.5;
  position: absolute;
  right: -0.4rem;
}

.world-window-container.split-screen .top-info .world-window-size-option .show-split-screen-world-window-btn{
   display: none !important;
}

.world-window-size-option,
.show-full-world-window-btn,
.show-split-screen-world-window-btn{
  opacity: 0.8;
}
.world-window-size-option:hover,
.show-full-world-window-btn:hover,
.show-split-screen-world-window-btn:hover{
  opacity: 1.0;
}

.information-window-size-option{
  opacity: 0.7;
}

.information-window-size-option:hover{
  opacity: 1.0;
}




.information-window-container .placard-title-dropdown-container {
  overflow: hidden;
  /*border-top: 3px double #fff;*/
}
.information-window-container .placard-title-dropdown-container .placard-title {
  display: none;
  width: 80%;
  text-align: left;
  cursor: pointer;
  float: left;
  background: transparent url(images/dropdown-arrow-down.png) no-repeat;
  background-position: 2.5% 45%;
  background-size: 16px;
  padding: 8px 0 10px 45px;
  letter-spacing: 0.035rem;
  font-size: 1.5em;
  color: #eee;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  height:1.3rem;
  line-height: 20px;
  text-shadow: 0 0 2px #000;
}
.information-window-container.information-window-fullscreen .placard-title-dropdown-container .placard-title {
  width: 100%;
  background-position: 1.5%;
}
.information-window-container.information-window-fullscreen  .placard-title-dropdown-container .placard-dropdown-list {
  width: 100%;
}
.world-window-container.world-window-fullscreen .top-info .placard-title-dropdown-container .show-information-window-container {
  float: right;
}
.world-window-container.split-screen .top-info .placard-title-dropdown-container .show-information-window-container {
  display: none;
}

.information-window-container .side-bar-action-container .information-window-size-option{
  display: inline-block;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.information-window-container.information-window-fullscreen .side-bar-action-container .information-window-size-option{
  display: inline-block;
  position: absolute;
  right: 0.5rem;
  top: 0.55rem;
}

.logged-in .information-window-container.information-window-fullscreen .side-bar-action-container .information-window-size-option{
  top:3.55rem;
}

#unityPlayer {
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

#canvas {

}
.unity-content-container{
  position: relative;
}

#loading-indicator {
  position: absolute;  
  width: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  margin-top: 25%;
}


